<h1><%#= current_user.username %></h1>
<table class="table">
  <thead>
  <th>ID</th>
  <th>Project Name</th>
  <th>Project Description</th>
  <th></th>
  </thead>
  <% @projects.each do |project| %>
      <tr>
        <td><%=project.id%></td>
        <td><%= project.name%></td>
        <td><%=project.descripton%></td>
        <td><%= button_to "Create Bug", new_project_bug_path(project) ,{:class => "btn btn-primary"} %></td>
      </tr>
  <% end %>
</table>